[Unit]
Description=Check for a new ciphermaniac-discord image every five minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
